[tool.black]
line-length = 100
target-version = ['py37']

[tool.isort]
known_third_party = [
  "black",
  "click",
  "click_option_group",
  "ethicml",
  "hydra",
  "matplotlib",
  "mypy",
  "numpy",
  "omegaconf",
  "pandas",
  "pylint",
  "pytest",
  "scipy",
  "setuptools",
  "sklearn",
  "torch",
  "tqdm",
  "wandb",
]
known_future_library = []
extra_standard_library = ["dataclasses", "__future__"]
line_length = 88
profile = "black"
force_sort_within_sections = "True"
classes = ["MISSING"]

[tool.poetry]
name = "ranzen"
version = "1.2.3"
description = "A toolkit facilitating machine-learning experimentation."
authors = ["PAL <info@predictive-analytics-lab.com>"]
license = "Apache License 2.0"
packages = [
  { include = "ranzen" },
]
include=["ranzen/py.typed"]
classifiers=[
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "License :: OSI Approved :: Apache Software License",
  "Operating System :: OS Independent",
  "Typing :: Typed",
]
keywords=["typing", "python"]
repository="https://github.com/predictive-analytics-lab/ranzen"
readme="README.md"

[tool.poetry.dependencies]
python = "^3.7.1"
torch = { version = "^1.8", optional = true }
hydra-core = {version = "^1.1.0", optional = true}
neoconfigen = {version = "^2.0.0", optional = true}
numpy = {version = "^1.20.3", optional = true}
pandas = {version = "^1.3.1", optional = true}
wandb = {version= "^0.12.0", optional = true}
tqdm = {version = "^4.62.0", optional = true}

[tool.poetry.extras]
all = ["hydra-core", "neoconfigen", "pandas", "wandb", "torch", "numpy"]
torch = ["torch", "numpy"]
hydra = ["hydra-core", "neoconfigen"]
wandb = ["wandb", "pandas"]

[tool.poetry.dev-dependencies]
black = "^22.1"
pytest = "^7.1.1"
isort = "^5.7.0"
darglint = "^1.8.0"
python-type-stubs = {git = "https://github.com/predictive-analytics-lab/python-type-stubs.git", rev = "53dead4" }

[tool.pyright]
exclude = ["**/node_modules", "**/__pycache__", "**/."]
typeCheckingMode = "strict"
pythonVersion = "3.7"
reportUnusedImport = "error"
reportDuplicateImport  = "error"
reportIncompatibleVariableOverride = "error"
reportOverlappingOverload = "error"
reportUntypedNamedTuple = "error"
reportConstantRedefinition = "warning"
reportMissingImports = "error"
reportMissingTypeStubs = "warning"
strictListInference = true
strictSetInference = true
strictParameterNoneValue = true

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
